@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Nova+Square&family=Roboto:ital,wght@0,300;1,100;1,700&family=Signika+Negative&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.logo img {
    height: 4.2rem;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 90%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navlist {
    display: flex;
    gap: 2.5rem;
}

.navlist li {
    list-style: none;
}

.navlist a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
}

.Section {
    display: flex;
}

.Section .left {
    background-color: #2c1e1e;
    padding-left: 3rem;
}

.Section .right {
    background-color: #7c573c;
    justify-content: center;
}

.Section .Section_split {
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.navlist .slider {
    background-color: rgba(255, 255, 255, 0.327);
    width: 6rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 430px;
    border-top: .3rem solid #2c1e1e;
    border-radius: 0 0 2rem 2rem;
    backdrop-filter: blur(.5rem);
    z-index: -1;
    transition: .5s ease-in-out;
}

.navlist li:nth-child(2):hover~.slider {
    right: 330px;
}

.navlist li:nth-child(3):hover~.slider {
    right: 225px;
}

.navlist li:nth-child(4):hover~.slider {
    right: 105px;
}

.navlist li:nth-child(5):hover~.slider {
    right: -10px;
}

.left .content {
    color: white;
}

.content h1 {
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .04rem;
    letter-spacing: .3rem;
    font-family: 'Lemon', serif;
}
.content p{
    color: rgba(255, 255, 255, 0.814);
    font-size: 1.3rem;
    width: 75%;
    margin :1.5rem 0;
    line-height: 2rem;
}
.content button{
    background: radial-gradient(at top left,#5a4740,#2c1e1e);
    padding: 1rem 3rem;
    border: .2rem solid rgb(255, 255, 255,0.286 );
    font-size: 1.3rem;
    border-radius: 4rem;
    letter-spacing: .02rem;
}
.content button:hover
{
    background: radial-gradient(at bottom right,#5a4740,#2c1e1e);
}
.right img{
    height: 65%;
    padding-left: 3rem;
}
.middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.middle .circle
{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 8rem;
    background-position: center;
    background-image:no-repeat;
    
}
.middle .circle:nth-child(1){
    background-image: url('./images/coffee\ powder.jpg');
    background-size: 350%;
}

.middle .circle:nth-child(2){
    margin: 2rem 0;
    background-image: url('./images/coffee\ beans.jpg');
    background-size: 180%;
}
.middle .circle:nth-child(3){
    background-image: url('./images/leaves.jpg');
    background-size: 350%;
    
}